@media (max-width: 75em) {
  * {
    font-size: 55%;
  }
}

@media (max-width: 59em) {
  * {
    font-size: 50%;
  }

  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .her-title {
    font-size: 5rem;
  }

  .header {
    padding: 0;
    gap: 1rem;
  }

  .view-100 {
    height: auto;
    padding: 0 2rem 2rem 2rem;
  }
}

@media (max-width: 51em) {
  * {
    font-size: 45%;
  }

  .header {
    flex-direction: column;
  }
  .hero-btn-space {
    flex-direction: column;
    align-items: flex-start;
  }
  .testi-box {
    padding: 2rem;
  }
  .cta-section {
    padding: 9.6rem 1rem;
  }
  .cta-form-box {
    padding: 2rem;
  }
  .footer-all {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media (max-width: 26em) {
  * {
    font-size: 35%;
  }
  .header-nav-list {
    gap: 2rem;
  }

  .header {
    padding-top: 3rem;
  }

  .hero {
    padding-top: 6rem;
  }
  .hero-img-box {
    width: 70%;
    grid-row: 1/2;
    margin-top: 6rem;
    display: grid;
  }
  .hero-img-box {
    justify-self: center;
    margin-bottom: 4rem;
  }

  .hero-customer {
    padding-top: 4.5rem;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    padding: 1rem 3rem 2rem 3rem;
  }

  .how-img-box:after {
    padding: 13rem;
  }

  .how-img-box:before {
    padding: 15rem;
  }

  .how-section {
    padding: 9.6rem 2rem;
  }
  .how-box {
    row-gap: 10rem;
  }

  .meal-section {
    padding: 9.6rem 6rem;
  }
  .meal-box-all {
    grid-template-columns: 1fr;
  }
.meal-type {
  font-size: 2rem;
}
  .meal-texts p {
    font-size: 5rem;
  }
  .meal-texts ul {
    font-size: 8rem;
  }

  .diet-box ul {
    font-size: 9rem;
  }
  .meal-box:hover {
    transform: none;
  }

  .testi-section {
    grid-template-columns: 1fr;
  }

  .image-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .testi-box {
    padding: 4rem;
  }

  .cta-box-all {
    grid-template-columns: 1fr;
  }
  .cta-img {
    display: none;
  }
  .cta-form-box {
    padding: 4rem;
  }
}
