/******************************/
/* HEADER */
/******************************/

.view-100 {
  height: 100vh;
  background-color: #d2f4ea
}
.header {
  height:9.6rem;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  filter: invert(84%) sepia(34%) saturate(6873%) hue-rotate(112deg)
    brightness(97%) contrast(75%);
  width: 20rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

.header-nav-list a:link,.header-nav-list a:visited{
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}
.header-nav-list a:hover,.header-nav-list a:active{
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #1aa179;
  font-weight: 500;
}


/******************************/
/* HERO */
/******************************/
.hero {
padding-top: 12.8rem;

}

.hero-section {
  margin: 0 auto;
  max-width: 130rem;
  column-gap: 8rem;
 
 
}
.hero-title {
  font-size: 5.2rem;
  color: #333;
}


.hero-text {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #555;
}

.hero-customer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 9.6rem;
}

.hero-customer-text,
.hero-customer-text span {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
}

.hero-customer-text span {
  color: #1aa179;
}
.hero-customer-img {
  display: inline-block;
  height: 5.2rem;
  border-radius: 50%;
  margin-left: -4rem;
  border: 2px solid #fff;
}

.hero-customer-img:first-child {
  margin-left: 0;
}

.hero-img-box img {
  width: 100%;
}


.btn-hero2:link,.btn-hero2:visited {
  background-color: #f7faf9!important;
  color: #333 !important;
  border: 1px solid transparent;
}
.btn-hero2:hover,.btn-hero2:active {
  background-color:#d2f4ea!important;
  color: #333 !important;
  border: 1px solid #fff !important;
}

.hero-btn-space{
  display: flex;
  gap: 3.2rem;
}

/******************************/
/* HOW-TO */
/******************************/
