/******************************/
/* HEADER */
/******************************/

.view-100 {
  height: 100vh;
  padding: 0 0 9.6rem;
  background-color: #d2f4ea;
}
.header {
  height: 9.6rem;
  padding: 0 4.8rem;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  filter: invert(84%) sepia(34%) saturate(6873%) hue-rotate(112deg)
    brightness(97%) contrast(75%);
  width: 25rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.btn-nav:link,
.btn-nav:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}
.btn-nav:hover,
.btn-nav:active {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #1aa179;
  font-weight: 500;
}

.btn-log:link,.btn-log:visited {
  background-color:#20c997;
padding: 1rem 2rem;
border-radius: 11px;
color: #fff;
transition: all 0.3s;
}

.btn-log:hover,.btn-log:active{
 background-color:   #1aa179;
}

/******************************/
/* HERO */
/******************************/
.hero {
  padding-top: 12.8rem;
}

.hero-section {
  margin: 0 auto;
  max-width: 130rem;
  column-gap: 8rem;
}
.hero-title {
  font-size: 5.2rem;
  color: #333;
}

.hero-text {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #555;
}

.hero-customer {
  display: flex;
  align-items: center;

  gap: 2rem;
  padding-top: 9.6rem;
}

.hero-customer-text,
.hero-customer-text span {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
}

.hero-customer-text span {
  color: #1aa179;
}
.hero-customer-img {
  display: inline-block;
  height: 5.2rem;
  border-radius: 50%;
  margin-left: -4rem;
  border: 2px solid #fff;
}

.hero-customer-img:first-child {
  margin-left: 0;
}

.hero-img-box img {
  width: 100%;
}

.btn-hero2:link,
.btn-hero2:visited {
  background-color: #f7faf9 !important;
  color: #333 !important;
  border: 1px solid transparent;
}
.btn-hero2:hover,
.btn-hero2:active {
  background-color: #d2f4ea !important;
  color: #333 !important;
  border: 1px solid #fff !important;
}

.hero-btn-space {
  display: flex;
  gap: 3.2rem;
}

/******************************/
/* HOW-TO */
/******************************/

.how-box {
  /* grid-template-rows: 1fr 1fr 1fr; */
  align-items: center;
  justify-items: center;
  gap: 6.4rem;
}

.how-text-number {
  display: inline-block;
  font-size: 6.2rem;
  font-weight: 500;
  color: #0a3c2d77;
}
.how-text-header {
  font-size: 3rem;
  font-weight: 500;
}

.how-img-box {
  justify-self: center;
  position: relative;
}

.how-img {
  display: inline-block;
  width: 20rem;
}

.how-img-box:before {
  content: "";
  padding: 17rem;
  background-color: #a6e9d5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.how-img-box:after {
  content: "";
  padding: 14rem;
  background-color: #90e4cb;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.how-text-text {
  font-size: 2rem;
  line-height: 1.5;
}
/******************************/
/* MEALS */
/******************************/
.meal-section {
  padding: 9.6rem 0;
  color: #333;
  border-top: 1px solid #d2f4ea;
}

.meal-title {
  text-align: center;
}

.meal-box-all {
  gap: 6.4rem;
}
.meal-box {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.158);
  border-radius: 11px;
  transition: all 0.4s;
}

.meal-box:hover {
  transform: translateY(-1.3rem);
}

.meal-img {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.meal-type {
  background-color: #51cf66;
  border-radius: 9px;
  margin-left: 1rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  padding: 0.6rem;
  color: #fff;
}

.meal-texts {
  padding: 3rem;
}
.meal-name {
  font-size: 3rem;
}

.meal-attributes {
  font-size: 3rem;
  list-style: none;
  gap: 2rem;
}

.diet-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #1aa179;
}

.meal-attributes span {
  font-size: inherit;
  font-weight: 600;
}

.diet-list {
  list-style: none;
  font-size: 5.2rem;
}

.diet-list li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.diet-title {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

/******************************/
/* TESTIMONIALS */
/******************************/

.testi-section {
  background-color: #d2f4ea;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testi-customers-all {
  gap: 6rem;
}

.testi-box {
  padding: 8rem;
}
.testi-title {
  text-align: left;
}
.customer-img {
  border-radius: 50%;
  width: 7.4rem;
}

.customer-text {
  font-size: 2rem;
  line-height: 1.5;
}
.customer-name {
  font-size: 1.8rem;
}

.image-gallery {
  gap: 2rem;
  padding: 2rem;
}

.image-gallery figure {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/******************************/
/* pricing */
/******************************/
.pricing-plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.pricing-box-1 {
  /* box-shadow: 0 1.2rem 2.4rem hsla(162, 72%, 37%, 0.301); */
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4.8rem 3.2rem;
  border-radius: 11px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #e9faf5;
}

.pricing-box-2 {
  box-shadow: 0 1.2rem 2.4rem hsla(162, 72%, 37%, 0.301);
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4.8rem 3.2rem;
  border-radius: 11px;
  background-color: #d2f4ea;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}

.pricing-box-2:hover {
  background-color: #a6e9d5;
}
.pricing-box-2:after {
  content: "sale";
  color: rgb(255, 255, 255);
  background-color: #ff6b6b;
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0.8rem 8rem;
  right: -5rem;
  top: 3.5rem;
  transform: rotate(45deg);
}

.pricing-box-2:hover:after {
  background-color: #fa5252;
  color:#ffe066 ;
}

.pricing-plan {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.pricing-price {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.pricing-per-day {
  font-size: 2rem;
}

.pricing-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  list-style: none;
  font-size: 2.4rem;
}

.pricing-list li {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testi-title {
  text-align: center;
}

.pricing-list .diet-icon {
  align-self: end;
}

.pricing-detail {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3.5rem;
}

.features-icon {
  width: 3rem;
  height: 3rem;
  color: #20c997;
  background-color: #e9faf5;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.features-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.features {
  margin-top: 8.6rem;
  gap: 4.8rem;
}

.features-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/******************************/
/* CTA */
/******************************/

.cta-box-all {
  color: #03140f;
  background-color: #1aa179;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  overflow: hidden;
}
.cta-img {
  width: 100%;
  height: 100%;
}

.cta-title {
  font-size: 4.4rem;
  letter-spacing: 0.1rem;
}

.cta-text {
  font-size: 2rem;
  line-height: 1.5;
  color: inherit;
}

label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #03140f;
}

input {
  font-size: 2rem;
  width: 100%;
  border-radius: 11px;
  padding: 1rem;
  border: none;
}
select {
  font-size: 2rem;
  width: 100%;
  border-radius: 11px;
  padding: 1rem;
  color: #03140f;
  font-family: "rubik";
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  color: #f7faf9;
}

.cta-form-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 8rem;
}

.form-box {
  display: grid;
  grid-template-rows: 1fr;
}

.btn-form{
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid transparent;
  border: none;
  display: inline-block;
  padding: 1.2rem 1rem;
  width: 100%;
  border-radius: 11px;
  align-self: end;
  justify-self: end;
  background-color: rgb(5, 5, 5);
  color: #fff;
  cursor: pointer;
}

/******************************/
/* FOOTER */
/******************************/
.footer {
  background-color: #d2f4ea;
  border-top: 1px solid #e9faf5;
}
.footer-all {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 3rem;
}
.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #777;
}

.footer-social {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.copyright {
  font-size: 1.4rem;
  margin-top: auto;
  color: #777;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #444;
}
.footer-list {
  list-style: none;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-list a:link,
.footer-list a:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777;
}
.footer-list a:hover,
.footer-list a:active {
  color: #333;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.address p {
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 1.8rem;
  line-height: 1.2;
  color: #777;
}

.contact a:link,
.contact a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #777;
  transition: all 0.3s;
  margin-top: auto;
}

.contact a:hover,
.contact a:active {
  color: #333;
}
